header {
	height: 100%;
	min-height: 600px;
	background: #000 url(http://book.jirengu.com/jirengu-inc/jrg-tehui/homework/%E8%8B%A5%E6%84%9A/16/img/header-bg.jpg) no-repeat center center;
	background-size: cover;
}
nav {
	text-align: center;
	height: 100px;
}
#logo {
	display: inline-block;
	float: left;
	font-size: 40px;
	font-style: italic;
	margin-top: 30px;
	color: rgb(254,209,54);
}
.menu {
	float: right;
	margin-top: 30px
}
.menu>li {
	float: left;
	padding: 20px;
}
.menu a {
	font-size: 20px;
}
.menu a:hover {
	color: rgb(254,209,54);
}

.introduction {
	color: #fff;
	position: absolute;
	top: 50%;
	transform: translate(10%,-5%);
}
.introduction>h2 {
	font-size: 50px;
	font-style: italic;
}
.introduction>h3 {
	font-size: 80px;
}
.introduction>a {
	display: inline-block;
	font-size: 16px;
	font-weight:bold;
	padding: 20px 40px;
	margin-top: 30px;
	border-radius: 5px;
	background: rgb(254,209,54);
	opacity: 1;
}
.introduction>a:hover {
	background: #fec503;
}
